{
  "rules": {
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": [
          "consecutive-duplicates-with-different-values"
        ]
      }
    ],
    "declaration-block-no-shorthand-property-overrides": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-url-scheme-whitelist": ["https", "data"],
    "shorthand-property-no-redundant-values": true,
    "length-zero-no-unit": true,
    "function-url-no-scheme-relative": true,
	"no-invalid-double-slash-comments": true,
	"function-calc-no-unspaced-operator": true
  }
}
